.BannerImage {
    .BannerCaption {
        padding: 3rem 0 0;
        h1 {padding: 0 0 5rem;}
        a {
            background-color: $default-secundary;
            padding: 1.3rem;
            border-radius: 8px;
            font-weight: bold;
            color:#fff;
        }
    }
}