$default-BG: #fafafa;
$default-primary: #17155b;
$default-secundary: #f15a24;
$default-ligthsecundary: #ffc24d;
$default-darksecundary: #ab430b;
$default-blue: #1aaade;
$default-darkblue: #1580a6;
$default-red: #f02626;
$default-green:#27990c;